Beta testers
scalability (cloud providers)
load balancers
login system (would store user, passwords, points)
two separate storage areas
backup storage
security
web/domain
ASP.NET Core Web API app

User 
    - Run CTF files
    - learning 
    - entertainment

In C#; angular (node.js)

custom views for instructors/users/admin
multiple user accounts